@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
	width: 100%;
	height: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
	padding: 20px 0px 10px 0px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
	max-width: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
	max-width: 100%;
}
/* ====================== Navigation ====================== */
nav {
	display: flex;
	justify-content: center;
	align-items: center;
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
	padding: 10px 20px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  height: 30px;
	width: 100%;
  display: flex;
  box-sizing: border-box;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
	max-height: 400px;
  height: 80vw;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
	display: flex;
	flex-direction: column;
  flex-wrap: wrap;
  background-color: #3397DB;
  align-items: flex-start;
	width: auto;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
	width: 100%;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 0 0 10px 0;
  padding: 0 10px;
  width: 100%;
}

/* ====================== Restaurant Listing ====================== */
	#restaurants-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		background-color: #f3f3f3;
		margin: 0;
		padding: 30px 15px 25px;
		align-items: center;
		text-align: center;
		width: 100%;
		max-width: 100%;
}


#restaurants-list li {
  background-color: #fff;
  border: 2px solid #000;
  font-family: Arial,sans-serif;
  margin: 5px;
  padding: 30px 25px;
	list-style: outside none none;
  text-align: left;
	max-width: 90%;
	font-size: 24px;
}

#restaurants-list .restaurant-img {
	background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  /* min-height: 248px;
  min-width: 100%; */
}
#restaurants-list li h3 {
	color: #f18200;
	font-family: Arial, sans-serif;
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: 200;
	height: 36px;
	letter-spacing: 0;
	line-height: 1.3;
	margin: 10px 0 5px;
	text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
	padding: 0 25px;
}
#restaurants-list li a {
  background-color: blue;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
	margin: 10px 40px 0 40px;
	display: block;
  padding: 8px 30px 10px;
  text-align: center;
	object-position: center;
	align-items: center;
  text-decoration: none;
  text-transform: uppercase;
}
#restaurants-list li a button {
	display: none;
}



/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
	background: white none repeat scroll 0 0;
   height: 50vh;
}
.inside #map {
	 background-color: #ccc;
   height: 100%;
   width: 100%;
}
.inside #footer {			//referred from https://www.youtube.com/watch?v=92dtrNU1GQc Restaurant Walkthrough with Doug Brown
  bottom: 0;
  position: fixed;
  width: 100%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 10px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 100%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, #reviews-container {
  border-top: 1px solid #fff;
  /*padding: 140px 40px 30px;*/
	box-sizing: border-box;
	padding: 20px;
	display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#reviews-container {
  padding: 30px 40px 40px;
	margin-bottom: 50px;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0px 0px 30px;
  overflow: hidden;
  position: relative;

}
#reviews-list li p {
  margin: 10px 0 10px;
}
#restaurant-hours td {
  color: #666;
	max-width: 150px;
	padding-right: 10px;
	vertical-align: text-top;
}
#restaurant-hours {
	width: 100%;
	margin-top: 25px;
	margin-left: 40px;
}

@media screen and (min-width: 672px) {
  .filter-options {
    align-items: center;
  }

  .filter-options h2 {
		float: left;
	  width: auto;
  }

  .filter-options select {
    margin: 0 20px 20px 0;
    width: 225px;
  }

  #restaurants-list {
    justify-content: space-evenly;
    padding: 30px 15px 40px 30px;
		max-width: 90%;
		padding: 0;
		margin: auto;
  }

  #restaurants-list li {
    width: calc(50% - 90px);
  }

  nav h1 a {
    font-size: 20px;
    font-size: 1.25rem;
    letter-spacing: 10px;
  }

  #breadcrumb {
    padding: 10px 40px 16px;
    width: calc(50% - 80px);
  }

  #footer {
    font-size: 12px;
  }

  #mapcontent {
		width: 50%;
 }

  #restaurant-container,
  #reviews-container {
    padding: 40px;
  }

  #restaurant-hours td {
    max-width: 100%;
  }

  .inside #map-container {
    /* full helght less header 80px and footer 80px */
    position: fixed;
    right: 0;
    height: calc(100% - 160px);
    top: 80px;
    width: 50%;
  }

  #restaurant-name {
    font-size: 28px;
  }
}

@media screen and (min-width: 960px) {
  #restaurants-list {
    justify-content: flex-start;
    padding: 30px 15px 60px 30px;
  }

  #restaurants-list li {
    max-width: none;
    width: calc(33.3% - 90px);
  }
}

@media screen and (min-width: 1200px) {
  #restaurants-list {
    padding: 30px 15px 60px 60px;
		max-width: 90%;
  }

  #restaurants-list li {
    max-width: none;
    width: calc(25% - 95px);
  }
